
    <div class="grid gap-4">
      <ng-content select="ui-dialog-header"></ng-content>
      <ng-content></ng-content>
      <button
        type="button"
        class="absolute right-4 top-4 rounded-sm opacity-70 ring-offset-background transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:pointer-events-none"
        (click)="onClose()"
      >
        <span class="h-4 w-4">✕</span>
        <span class="sr-only">Close</span>
      </button>
    </div>
  
